.price {
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgb(34, 148, 34);
  font-weight: 600;
  color: white;
  padding: 8px;

}

.image-container {
  position: relative;
}

.list-item {
  width: 100%;
  height: 100%;
}

.image-container {
  height: 50%;
  width: 100%;
}

.image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
