.price {
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgb(34, 148, 34);
  font-weight: 600;
  color: white;
  padding: 8px;

}

.image-container {
  position: relative;
}

.list-item {
  width: 360px;
  height: fit-content;
  background-color: white;
  border: 1px rgb(198, 198, 198) solid;
  border-radius: 8px;
}

.image-container {
  height: 360px;
  width: 100%;
}

.image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.info-container {
  padding: 32px;
  /* height: fit-content; */
}

.tour-info {
  color:#64748b;
}
